
/* HeroContentContainer.css */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero.jpg);
    background-position: top left;
    background-size: 100% 100%;
    overflow-y: hidden;
    /*Remove later!!!!!*/
    margin-bottom: 50rem;
  }
 
.hero:after{
    z-index: 0;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00BFFF;
    opacity: 0.7;
  }

.hero-para-container{
    z-index: 1;
    opacity: 1;
    text-align: center;
    position: absolute;
    width: 800px;
    max-width: 70%;
    color: white;
    font-weight: 500;
}    

.hero-para {
    font-size: 3.5rem;
    margin-bottom: 1.25rem;
    font-weight: 700;
  }
  
.small-text {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  /* Example styling for the FontAwesome icon */
.fa-chevron-down {
    font-size: 5rem;
    color: #e6e6e6;
    position: relative
  }